.TimeInterval {
    margin: 20px 0px;

    p {
        margin: 0px 0px 10px 0px;
        font-weight: 400;
        font-size: 16px;
    }

    select {
        font-size: 14px;
    }

    input[type=date], input[type=time] {
        height: 15px;
    }
}